GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=openai/gpt-oss-120b

RESEARCH_AGENT_HOST=127.0.0.1
RESEARCH_AGENT_PORT=8001

WRITER_AGENT_HOST=127.0.0.1
WRITER_AGENT_PORT=8002

VERIFIER_AGENT_HOST=127.0.0.1
VERIFIER_AGENT_PORT=8003

TAVILY_API_KEY=your_tavily_api_key_here